[Unit]
Description=Periodically sync heuesta.cn from GitHub

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target
